<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a new post</title>
</head>
<body>
    <form method="post" action="/posts"> 
        <input placeholder="Enter your username" name="username" required><br/><br/>
        <textarea placeholder="Enter your post" name="content" required></textarea><br/>
        <button type="submit">Create Post</button>
    </form>
</body>
</html>